<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You Created a new product  Product name is  <%= @products.name %>!</p>
    <p>
    Product  details<br>
    --------------------------
    </p>
    <p>Object: <%= @products.object %></p>
    <p>Product Description: <%= @products.description %></p>
    <p>
    </p>
  </body>
</html>