<div id="<%= dom_id qrcode %>">
  <p>
    <strong>Name:</strong>
    <%= qrcode.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= qrcode.image %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= qrcode.location %>
  </p>

</div>
