<nav class="navbar navbar-expand-lg blur blur-rounded  z-index-3 shadow  my-3 py-2 start-0 end-0 mx-4">
	<div class="container-fluid pe-0">
		<% if user_signed_in?  %>
		<a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/homeuser">
			Shop99
		</a>
		<% else %>
				<a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
			Shop99
		</a>
		<% end %>
		<button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon mt-2">
			<span class="navbar-toggler-bar bar1"></span>
			<span class="navbar-toggler-bar bar2"></span>
			<span class="navbar-toggler-bar bar3"></span>
		</span>
		</button>
		<div class="collapse navbar-collapse" id="navigation">
			<ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">
				<% if user_signed_in?  %>



				<li class="nav-item">
					<a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/homeuser/dashboard">
						<i class="fa fa-chart-pie opacity-6 text-dark me-1" aria-hidden="true"></i>
						Dashboard
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link me-2" href="/qrcodes">
						<i class="fas fa-user-circle opacity-6 text-dark me-1" aria-hidden="true"></i>
						Qrcode
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link me-2" href="/products">
						<i class="fas fa-key opacity-6 text-dark me-1" aria-hidden="true"></i>
						Product
					</a>
				</li>
				<% if User.super_admin?(current_user)  %>	
					<li class="nav-item">
					<a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/homeuser/google_analytics">
						<i class="fa fa-chart-pie opacity-6 text-dark me-1" aria-hidden="true"></i>
						Google Analytics
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link me-2" href="/admin">
						<i class="fas fa-key opacity-6 text-dark me-1" aria-hidden="true"></i>
						Admin Dashboard
					</a>
				</li>
				<% end %>

					<%  else %>
				<li class="nav-item">
					<a class="nav-link me-2" href="/users/sign_up">
						<i class="fas fa-user-circle opacity-6 text-dark me-1" aria-hidden="true"></i>
						Sign Up
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link me-2" href="/users/sign_in">
						<i class="fas fa-key opacity-6 text-dark me-1" aria-hidden="true"></i>
						Sign In
					</a>
				</li>
				<% end %>
			</ul>
			<li class="nav-item d-flex align-items-center">
				<% if user_signed_in?  %>
				<%= link_to "Log out",  destroy_user_session_path, :method => :delete,  class: 'nav-link me-2' %>
				<% end %>
			</li>
			<ul class="navbar-nav d-lg-block d-none">
			</ul>
		</div>
	</div>
</nav>